@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');

.container-fluid{
    margin: 0;
    padding: 3% 15%;
    background-color: #ff4c68;

}
h1{
    line-height: 1.5;
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3rem;
}